<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccit.springboot.mapper.CategoryMapper">

    <select id="selectPlants" resultType="string">
        SELECT plant FROM `category`
    </select>
    <select id="selectByPlant" resultType="java.lang.Integer">
        select id from category
        where plant = #{plant}
    </select>

</mapper>